REACT_APP_RAPID_API_URL = "https://judge0-ce.p.rapidapi.com/submissions"
REACT_APP_RAPID_API_HOST = "judge0-ce.p.rapidapi.com"
REACT_APP_RAPID_API_KEY = "2e86456a75msh8dc205cbc262698p17ff32jsn5cd1ad84ed3a"